html {
    background: url("img/cool background.png") no-repeat center fixed;
    background-size: cover;
}

body {
    background: rgba(255, 255, 255, 0.8);
    padding: 45px 90px 100px 50px;
    margin: 30px 340px auto;
    border-radius: 25px;
    width: 500px;
    height: 630px ;
    text-align: left;
}


#ansInput, #queInput {
    font-weight: normal;
    color: rgb(100, 0, 25);
    font-family:Georgia, 'Times New Roman', Times, serif
}

#queInput {
    width: 530px;
    margin-left: 5px;
    height: 25px;
    font-size: large;
}

